.output {
  display: none;
}
h1 {
  font-variant: small-caps;
  padding-left: 38%;
  font-size: 3em;
}
.panel {
  margin-top: 40px;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 20px;
}

.panel-heading {
  font-size: 5em;
  font-variant: small-caps;
  font-style: italic;
  text-align: center;
}

h3 {
  font-variant: small-caps;
}

.well {
  font-size: 2em;
}

input {
  max-width: 500px;
}

.page-header {
  max-width: 500px;
}
